.wrapper-bg {
  position: relative;
  background-color: $main-blue;
  &__ornament {
    position: absolute;
    top: 0;
    left: 0;
  }
  &__blure-topleft {
    position: absolute;
    width: 13.87rem;
    height: 13.87rem;
    left: -17px;
    top: 0;
    background: #7c3eff;
    filter: blur(250px);
    transform: matrix(1, 0, 0, -1, 0, 0);
  }
  &__blure-topright {
    position: absolute;
    width: 8.81rem;
    height: 8.81rem;
    right: 0;
    top: 0;
    background: #be229c;
    filter: blur(250px);
    transform: matrix(1, 0, 0, -1, 0, 0);
  }
  &__blure-bottomright {
    position: absolute;
    width: 8.81rem;
    height: 8.81rem;
    right: 0;
    top: 26.37rem;
    background: #ffc93e;
    filter: blur(250px);
    transform: matrix(1, 0, 0, -1, 0, 0);
  }
  &__blure-bottomleft {
    position: absolute;
    width: 10.94rem;
    height: 10.94rem;
    left: -26px;
    top: 51.875rem;
    background: #2286be;
    filter: blur(250px);
    transform: matrix(1, 0, 0, -1, 0, 0);
  }
  &__ornament-circle-aside-top {
    position: absolute;
    top: 56.25rem;
    right: 0;
  }
  &__ornament-circle-aside-bottom {
    position: absolute;
    top: 171.875rem;
    right: 0;
  }
}
