.about {
  padding: 45px 0 80px 0;
  &__maincontent-content-title {
    max-width: 219px;
  }
  &__content-text {
    margin-top: 24px;
  }
  &__maincontent-content-button {
    margin-top: 32px;
    width: calc(170 / 324 * 100%);
    min-height: 56px;
  }
  &__main-content-collage {
    margin-top: 40px;
  }
  &__ratings {
    margin-top: 48px;
    min-height: 564px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  &__ratings-rating-title {
    @include font("Inter", 700, 48px, 58px, #ffffff);
    text-align: center;
  }
  &__ratings-rating-subtitle {
    font-size: 20px;
    line-height: 24px;
  }
}
.about-container {
  max-width: 324px;
  margin: 0 auto;
}
