.reviews {
  padding-top: 80px;
  &__content {
    padding-top: 24px;
    margin: 0 -8px;
  }
  &__content-item {
    padding: 56px 31px 40.5px 31px;
    background-color: $main-grey;
    border-radius: 20px;
    margin: 0 8px;
    width: calc(100% / 12 * 12 - 16px) !important;
  }
  &__content-item-icon {
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
  }
  &__content-item-reviewer {
    display: flex;
    flex-direction: column;
  }
  &__content-item-reviewer-about {
    max-width: 246px;
    display: flex;
    padding: 31px 0 19.5px 0;
  }
  &__content-item-reviewer-photo {
    align-self: flex-start;
  }
  &__content-item-reviewer-name {
    margin-left: 16px;
    p {
      @include font("Inter", 500, 18px, 30px, #fff);
    }
    span {
      @include font("Inter", 400, 16px, 30px, $main-yellow);
    }
  }
  &__content-item-reviewer-stars {
    width: 42.26%;
    align-self: center;
    display: flex;
    justify-content: space-between;
  }
}
