.service {
  padding-top: 5rem;

  &__content {
    padding-top: 24px;
    margin: 0 -9px;
  }
  &__content-item {
    padding: 3rem 3rem 3rem 2.12rem;
    margin: 0 9px;
    background-color: $main-grey;
    border-radius: 30px;
    width: calc(100% / 12 * 12 - 18px) !important;
  }
  &__content-item-icon-img {
    width: 3rem;
    height: 3rem;
  }
  &__content-item-title {
    padding: 2.25rem 0 1rem 0;
    @include font("Inter", 600, 1.25rem, 1.2em, #fff);
  }
  &__content-item-button {
    margin-top: 2rem;
    width: calc(159 / 248 * 100%);
    min-height: 3.25rem;
  }
}
